.home-container {
  text-align: center;
  font-family: Poppins, sans-serif;
}
#main{
    margin-bottom: 0%;
}
/* HERO */
.hero-section {
  background: url("../assets/the_lost_portal_by_jezzdg_de2a87o-pre.jpg") center/cover;
  padding: 90px 20px;
  color: white;
  text-shadow: 0 3px 8px rgba(0,0,0,0.5);
}

.hero-section h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.hero-section p {
  font-size: 18px;
  margin-bottom: 25px;
}

.search-box {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.search-box input {
  width: 280px;
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.search-box button {
  background: #2b6cb0;
  border: none;
  padding: 12px 20px;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

/* ABOUT SECTION */
.about-section {
  padding: 40px;
  width: 70%;
  margin: auto;
  color: #444;
}

/* CATEGORIES */
.categories {
  margin-top: 30px;
}

.category-box {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 20px;
}

.cat-card {
  background: white;
  padding: 25px;
  width: 150px;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  font-size: 18px;
  cursor: pointer;
}

/* STEPS SECTION */
.steps-section {
  margin-top: 50px;
  padding: 30px;
  background: #f7f7f7;
}

.steps {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.step {
  background: white;
  padding: 20px;
  width: 120px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
